<footer>
  <div class="container-fluid" id="pre-footer">
    <div class="row">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-3 magic">
              <p>ACEITAMOS:</p>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9">
              <img src="./imgs/cartoes.png" alt="" class="card img-responsive">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="col-lg-6 col-md-5 col-sm-3 magic">
              <p>CERTIFICADO POR:</p>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
              <img src="./imgs/certificado.png" alt="" class="certificado img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-6" id="box-turff">
            <img src="./imgs/responsabilidade.png" class="img-responsive" alt="">
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-6 text-center">
            <img src="./imgs/logo.png" alt="" class="img-responsive">
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-right" id="copy">
            <p>© Copyright 2017 Suaposta.com.br<span> Todos os direitos reservados.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>