<div class="perfil-container-content" id="menu-admin-camp">
  <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
    <li role="presentation" class="active">
      <a href="/painel-admin">Criar Campanha</a>
    </li>
    <li role="presentation" >
      <a href="/campanhas">Campanhas</a>
    </li>
    <li role="presentation">
      <a href="#" onclick="logout()">Sair</a>
    </li>
  </ul>
</div>