<li role="presentation" class="active">
      <a href="/painel-admin">Criar Campanha</a>
    </li>
    <li role="presentation" >
      <a href="/campanhas">Campanhas</a>
    </li>
   
<li role="presentation"><a href="#" onclick="logout()">Sair</a></li>
