<div class="perfil-container-content">
  <ul class="nav nav-pills nav-stacked nav-pills-stacked-example" id="menu">
    <li role="presentation">
      <a href="troca_pontos">Trocar Pontos</a> 
    </li>
    <li role="presentation">
      <a href="promocoes">Promoções</a>
    </li>
    <li role="presentation">
      <a href="preferencias">Preferências</a>
    </li>
    <li role="presentation">
      <a href="extrato">Extrato</a>
    </li>
    <li role="presentation">
      <a href="#" onclick="depositar()">Depositar</a>
    </li>
    <li role="presentation">
      <a href="#" onclick="logout()">Sair</a>
    </li>
  </ul>
</div>