<li role="presentation"><a href="troca_pontos">Trocar Pontos</a></li>
<li role="presentation"><a href="promocoes">Promoções</a></li>
<li role="presentation"><a href="preferencias">Preferências</a></li>
<li role="presentation"><a href="extrato">Extrato</a></li>
<li role="presentation"><a href="#" onclick="depositar()">Depositar</a></li>
<li><a href="/como-funciona.html" class="scroll">Como Funciona</a></li>
<li><a href="/regulamento.html" class="scroll">Regulamento</a></li>
<li><a href="/faq.html" class="scroll">F.A.Q</a></li>
<li role="presentation"><a href="#" onclick="logout()">Sair</a></li>
