<div class="col-xs-12 col-sm-9" id="default">
  <div class="default-container" id="extrato-pontos">
   <h2>Painel de Campanhas</h2>
   <div class="row">
     <%= erb "www/painel-admin/campanha-modo.html".to_sym %>
   </div>
  </div>
</div>